{% extends "blog/base.html" %}
{% load static %}
{% block title %}
	{% if title %}
		<title>Blog Django - {{ title }}</title>
	{% else %}
		<title>Blog Django</title>
	{% endif %}
{% endblock %}

{% block content %}
	<article class="media content-section">
			<img src="{{ object.author.profile.image.url }}" alt="object.author" class="rounded-circle article-img">
			<div class="media-body">
				<div class="article-metadata">
					<a href="{% url 'user-posts' object.author.username %}" class="mr-2">{{object.author|title}}</a>
					<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
					{% if object.author == user %}
						<div>
							<a href="{% url 'post-update' object.pk %}" class='btn btn-outline-secondary btn-sm mt-1 mb-1'>Edit</a>
							<a href="{% url 'post-delete' object.pk %}" class="btn btn-outline-danger btn-sm mt-1 mb-1">Delete</a>
						</div>
					{% endif %}
				</div>
				<h2 class="article-title">{{object.title}}</h2>
				<p class="article-content">
					{{object.content}}
				</p>
			</div>
		</article>
{% endblock %}